.login-container {
	margin: 0;
	height: 100vh;
	color: #6a6f8c;
	font: 600 16px/18px 'Open Sans', sans-serif;

	background: url(https://i.ibb.co/kDs4mpq/comics-495258-1280-blur.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.login-container .login-box {
	width: 100%;
	margin: auto;
	max-width: 525px;
	min-height: 670px;
	position: relative;
	background: rgba(0, 0, 0, 0.267);
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	border-radius: 32px;
}

.login-container .login-snip {
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 90px 70px 50px 70px;
	background: rgba(117, 33, 0, 0.3);
	border-radius: 32px;
}

.login-container .login-snip .login,
.login-container .login-snip .sign-up-form {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	transform: rotateY(180deg);
	backface-visibility: hidden;
	transition: all 0.4s linear;
}

.login-container .login-snip .sign-in,
.login-container .login-snip .sign-up,
.login-container .login-space .group .check {
	display: none;
}

.login-container .login-snip .tab,
.login-container .login-space .group .label,
.login-container .login-space .group .button {
	text-transform: uppercase;
}

.login-container .login-snip .tab {
	font-size: 22px;
	margin-right: 15px;
	padding-bottom: 5px;
	margin: 0 15px 10px 0;
	display: inline-block;
	border-bottom: 2px solid transparent;
}

.login-container .login-snip .sign-in:checked + .tab,
.login-container .login-snip .sign-up:checked + .tab {
	color: #fff;
	border-color: #1161ee;
}

.login-container .login-space {
	min-height: 345px;
	position: relative;
	perspective: 1000px;
	transform-style: preserve-3d;
}

.login-container .login-space .group {
	margin-bottom: 15px;
}

.login-container .login-space .group .label,
.login-container .login-space .group .input,
.login-container .login-space .group .button {
	width: 100%;
	color: rgba(255, 255, 255, 0.966);
	display: block;
}

.login-container input {
	background-color: rgba(255, 255, 255, 0.233) !important;
}

.login-container .login-space .group .input,
.login-container .login-space .group .button {
	border: none;
	padding: 15px 20px;
	border-radius: 25px;
	background: rgba(255, 255, 255, 0.1);
}

.login-container .login-space .group input[data-type='password'] {
	text-security: circle;
	-webkit-text-security: circle;
}

.login-container .login-space .group .label {
	color: rgb(255, 255, 255);
	font-size: 12px;
}

.login-container .login-space .group .button {
	background: #ac3100;
}

.login-container .login-space .group label .icon {
	width: 15px;
	height: 15px;
	border-radius: 2px;
	position: relative;
	display: inline-block;
	background: rgba(255, 255, 255, 0.1);
}

.login-container .login-space .group label .icon:before,
.login-container .login-space .group label .icon:after {
	content: '';
	width: 10px;
	height: 2px;
	background: #fff;
	position: absolute;
	transition: all 0.2s ease-in-out 0s;
}

.login-container .login-space .group label .icon:before {
	left: 3px;
	width: 5px;
	bottom: 6px;
	transform: scale(0) rotate(0);
}

.login-container .login-space .group label .icon:after {
	top: 6px;
	right: 0;
	transform: scale(0) rotate(0);
}

.login-container .login-space .group .check:checked + label {
	color: #fff;
}

.login-container .login-space .group .check:checked + label .icon {
	background: #1161ee;
}

.login-container .login-space .group .check:checked + label .icon:before {
	transform: scale(1) rotate(45deg);
}

.login-container .login-space .group .check:checked + label .icon:after {
	transform: scale(1) rotate(-45deg);
}

.login-container .login-snip .sign-in:checked + .tab + .sign-up + .tab + .login-space .login {
	transform: rotate(0);
}

.login-container .login-snip .sign-up:checked + .tab + .login-space .sign-up-form {
	transform: rotate(0);
}

.login-container *,
.login-container :after,
.login-container :before {
	box-sizing: border-box;
}

.login-container .clearfix:after,
.login-container .clearfix:before {
	content: '';
	display: table;
}

.login-container .clearfix:after {
	clear: both;
	display: block;
}

.login-container a {
	color: inherit;
	text-decoration: none;
}

.login-container .hr {
	height: 2px;
	margin: 60px 0 50px 0;
	background: rgba(255, 255, 255, 0.2);
}

.login-container .foot {
	text-align: center;
	color: white;
}

.login-container .card {
	min-width: 256px;
	background-color: rgba(0, 0, 0, 0);
	border: 0px;
}

.login-container ::placeholder {
	color: #b3b3b3;
}
