html,
body {
	background-color: #00011b;
	color: white;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-size: 2.5vw;
	text-align: center;
}

@keyframes example {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.desc {
	animation: example 2s ease-in;
}

img {
	animation: example 2s ease-in;
	width: 18%;
}
