// ** ARCHIVO DE CONFIGURACION
// Iran TODAS LAS VARIABLES PARA LA APP
// Colores
$primary: #0f000f;
$dark-gray: #383738;
$light-gray: #dddddd;

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
